version: '3.9'

services:
  neo4j:
    image: neo4j:2025.07.1-community
    hostname: neo4j-server
    container_name: neo4j
    ports:
      - "7687:7687"   # Bolt
      - "7474:7474"   # HTTP web
    environment:
      NEO4J_AUTH: "${NEO4J_USER}/${NEO4J_PASSWORD}"
      NEO4J_dbms_default__listen__address: 0.0.0.0
      NEO4J_dbms_connector_http_advertised__address: neo4j
      NEO4J_dbms_connector_bolt_advertised__address: neo4j
    volumes:
      - ./neo4j/data:/var/lib/neo4j/data
      - ./neo4j/import:/var/lib/neo4j/import
      - ./neo4j/plugins:/var/lib/neo4j/plugins
    networks:
      default:
        aliases:
          - neo4j

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rag_app
    depends_on:
      - neo4j
    env_file:
      - .env
    volumes:
      - ./chroma_db:/chroma_db
      - ./embedding_model:/embedding_model
      - ./warhammer_articles.db:/warhammer_articles.db
